<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>jsp20211025</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<!--세션 설정 -->
	<session-config>
		<!-- 분 단위 -->
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- 서블릿 설정 -->
	<servlet>
		<servlet-name>servlet0103</servlet-name>
		<servlet-class>servlet01.S03Servlet</servlet-class>
		<!--클래스에 서블릿 패키지와 클래스명 명시 -->
		<!--클래스명은 패키지 경로와 클래스 명이 같이 들어가야됀다  -->
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet0103</servlet-name>
		<url-pattern>/servlet01/servlet03</url-pattern>
	</servlet-mapping>
		<!-- 요청 - pattern - class순으로 실행 -->
		<!-- 어느경로로 왔을때 일하게 돼는지가 url 패턴에 들어간다 	  -->
	<servlet>
		<servlet-name>servlet0104</servlet-name>
		<servlet-class>servlet01.S04Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet0104</servlet-name>
		<url-pattern>/servlet01/servlet04</url-pattern>
	</servlet-mapping>
</web-app> 